
 *,
 ::before,
 ::after{
 	margin: 0;
 	padding: 0;
 	/* -webkit-tap-highlight-color: transparent; */
 	box-sizing: border-box;
 }
 body{
 	font-size: 14px;
 	font-family: "Microsoft YaHei",sans-serif;
 	color: #000;
 }
 a{
 	text-decoration: none;
 	color: #000;
 }
 ul{
 	list-style: none;
 }
 input,
 textarea{
 	border: none;
 	resize: none;
 	outline: none;
 	-webkit-appearance: none;
 }
 /* 清除浮动 */
 .clearfix::before,
 .clearfix::after{
 	content: " ";
 	display: block;
 	height: 0;
 	line-height: 0;
 	visibility: hidden;
 	clear: both;
 }
 [class^="icon_"]{ /* 以icon_开头的类 */
    background: url('../images/sprites.png') no-repeat;
    background-size: 200px 200px;
 }
 /* 头部区域 */
 .jd_topBar{
	height: 45px;
	width: 100%;
	background: url('../images/header-bg.png') repeat-x;
	background-size: 1px 44px;
	border-bottom: 1px solid #e0e0e0;
	position: absolute;
	z-index: 1000;
}
.jd_topBar .icon_back{
	background-position: -20px 0;
	width: 20px;
	height: 20px;
	display: block;
	margin: 12px 10px;
	position: absolute;
	top: 0;
	left: 0;
}
.jd_topBar h2{
	font-size: 16px;
	font-family: sans-serif;
	font-weight: inherit;
	line-height: 44px;
	text-align: center;
}
.jd_topBar form{
	width: 100%;
	height: 44px;
	padding: 0 40px;
}
.jd_topBar form input{
	width: 100%;
	height: 32px;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	margin-top: 6px;
}
.jd_topBar .icon_menu{
	background-position: -60px 0;
	width: 40px;
	height: 44px;
	display: block;
	padding: 12px 10px;
	background-clip: content-box;
	background-origin: content-box;
	position: absolute;
	top: 0;
	right: 0;
}

















































